body {
    padding-top: 60px;
    font-family: Montserrat, Arial, sans-serif;
}

/*change color of fixed navbar and links*/
/*.navbar-fixed-top{
    background-color: #428bca;
    color: white;
    !*margin-left: 230px;*!
}
.navbar-fixed-top .navbar-text{
    color: white;
    !*margin-left: 230px;*!
}

.navbar-fixed-top .navbar-nav li a {
    line-height: 40px;
    color:white;
}

.navbar-fixed-top .navbar-nav li a:hover {
    background-color:#337ab7;
    color:white;
}

!*change color of static navbar and links*!
.navbar-static-top{
    background-color:#f1f1f1;
    color: white;
}

#placeholder{
    width:210px;
    color:#f1f1f1;;
}

.navbar-static-top li a {
    color:black;
}

.navbar-static-top .navbar-nav li a:hover,
.navbar-static-top .navbar-nav li a:focus{
    background-color:#428bca;
    color:white;
}
.navbar-static-top .navbar-nav .active a{
    background-color:#8c8c8c;
    color:white;
}

.navbar-fixed-top .navbar-toggle .icon-bar{
    background-color:white;
}

.navbar-text{
    margin-left:10px;
    margin-top:25px;
}

!*adapt navbar part with logo*!
.navbar-brand{
    !*height:auto;*!
    !*width: 230px;*!
    !*margin-top:30px;*!
    !*border-width: 7px;
    border-style: solid;
    border-color: white;*!
    !*border-color: #428bca;*!
    background-color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.navbar-brand:hover{
    background-color:white !important;
}
!* Set height of the grid so .sidenav can be 100% (adjust as needed) *!


.row.content a{
    color:black;
}*/
.row.content {
    height: 570px;
}

/*BY MS Set Color of buttons on myoffers.html (bookings&requests) to white*/
a.btn {
    color:white !important;
}

/*BY MS Set padding of repeating button so that it is centered*/
.createoffer .repeating{
    padding-top:2em;
}

/* Set gray background color and 100% height */
/*.sidenav {
    padding: 20px;
    !* background-color: #f1f1f1; *!
    height: 100%;
    color: black;
}*/


/* Set black background color, white text and some padding */
footer {
    /*background-color: #ADD8E6;*/
    color: black;
    padding: 10px;
}

footer a {
    color:black;
}

/* On small screens, set height to 'auto' for sidenav and grid */

/*@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }
    .navbar-header {
        float:none;
    }
    .sidenav {
        padding: 15px;
        text-align:center;
    }
    #logo{
        display: block;
    }
!*    .col-sm-10{
        width:auto;
    }*!

}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
        text-align:center;
    }
    .row.content {
        height:auto;
    }

    #logo{
        display: block;
    }

}*/

/*BY MS: Colorgraph for dividing */


.colorgraph {
    margin: 30px 0;
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.createoffer .form-group {
    margin-bottom: 30px;
}

/*homepage style*/
.blueline{
    color:#428bca;
    border: solid;
    border-color:#428bca;
    border-width: thin;
}

.media-heading{
    line-height: 20px;
}

#subNav{
    /*padding-top:50px;*/
    margin-top:50px;
    height: 20px;
}

.navbar-default .navbar-header .navbar-brand {
    color: white;
}

#mainNav{
    background-color: #428bca;
    color: white;
}

#mainNav li a {
    color:white;
}

#mainNav li a:hover,
#mainNav li a:focus {
    color:grey;
}


@media (min-width: 768px) {
    #logo.navbar-default.affix .navbar-header .navbar-brand {
        color: white;
    }

    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        color: #428BCA;
    }
}

/*
#offerbtn.btn.btn-default.btn-lg a{
    color: #428BCA !important;
}*/
