body {
    padding-top: 70px;
    font-family: Montserrat;
}

/*change color of fixed navbar and links*/
.navbar-fixed-top{
    background-color: #428bca;
    color: white;
    /*margin-left: 230px;*/
}
.navbar-fixed-top .navbar-text{
    color: white;
    /*margin-left: 230px;*/
}

.navbar-fixed-top .navbar-nav li a {
    line-height: 40px;
    color:white;
}

.navbar-fixed-top .navbar-nav li a:hover {
    background-color:#337ab7;
    color:white;
}

/*change color of static navbar and links*/
.navbar-static-top{
    background-color:#f1f1f1;
    color: white;
}

#placeholder{
    width:210px;
    color:#f1f1f1;;
}

.navbar-static-top li a {
    color:black;
}

.navbar-static-top .navbar-nav li a:hover,
.navbar-static-top .navbar-nav li a:focus{
    background-color:#428bca;
    color:white;
}
.navbar-static-top .navbar-nav .active a{
    background-color:#8c8c8c;
    color:white;
}

.navbar-fixed-top .navbar-toggle .icon-bar{
    background-color:white;
}

.navbar-text{
    margin-left:10px;
    margin-top:25px;
}

/*adapt navbar part with logo*/
.navbar-brand{
    height:auto;
    width: 230px;
    /*margin-top:30px;*/
    border-style: solid;
    border-color: #428bca;
    background-color: white;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 500px;
}

.row.content a{
    color:black;
}


/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
    color: black;
}


/* Set black background color, white text and some padding */
footer {
    /*background-color: #ADD8E6;*/
    color: black;
    padding: 10px;
}

footer a {
    color:black;
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .sidenav {
        padding: 15px;
        text-align:center;
    }
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
        text-align:center;
    }
    .row.content {
        height:auto;
    }

}