
<div class="container" ng-controller="BookingCtrl as app">
    <div class="row" >
        <div class="col-sm-6 col-md-6">
            <h4>My Bookings & Requests</h4>
        </div>
        <div class="col-sm-6 col-md-6 pull-right">
            <div class="btn-group" style="float:right">
                <a href="#" ng-click="app.recent = !app.recent" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-export"></span> Show recent entries</a>
                <a href="#" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-stats"></span> Filter entries</a>
            </div>
        </div>
    </div>
    <hr class="colorgraph">

    <div class="row" style="margin-bottom: 30px;">
        <div class="col sm-2">
            <div class="col-md-2 col-sm-2">
                <img src="../images/clint.jpg" class="img-rounded img-responsive"  >
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="media">
                <div class="media-body">
                    <ul class="list-group">
                        <h4 class="media-heading list-group-item-heading"
                            style="background-color: #2b669a;padding:10px;color:white;margin-bottom: 0px;">
                            Amount of care: <i>Basic</i><br />
                            Timeframe:<i> 01.01.2016 </i> until <i> 30.01.2016</i>
                        </h4>
                        <li class="list-group-item"><b>Repeating:</b> Weekly </li>
                        <!--TODO show only weekdays with value == true-->
                        <li  class="list-group-item" ><b>Days:</b>
                            <span >Monday | Tuesday | </span>
                        </li>
                        <li class="list-group-item"><b>Wage:</b> 12 € / h</li>
                        <li class="list-group-item"><b>Location:</b> Teststraße. 16 - <b> 123456 Teststadt </b></li>
                        <li class="list-group-item"><b>Notes:</b> Blablalbalabalbla</li>
                        <li  class="list-group-item"><b>Last Activity:</b> 30.01.2016</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <p>Status: </br>
            To be paid
            </p>
        </div>
        <div class="col-sm-2 col-md-2 pull-right">
            <a href="#" class="btn btn-primary btn-success" style="min-width:80%;margin-top:10px;"><span class="glyphicon glyphicon-ok"></span> View</a>
            <a href="" ng-click="deleteOffer(offerfinal._id, app.offerfinals.indexOf(offerfinal))" class="btn btn-danger" style="min-width:80%;margin-top:10px;"><span class="glyphicon glyphicon-remove-sign"></span> Delete</a>
            <a href="" data-toggle="modal" data-target="#myModal"  ng-click="updateOffer(offerfinal, offerfinal.$index)" class="btn btn-primary btn-info" style="min-width:80%;margin-top:10px;"><span class="glyphicon glyphicon-envelope"></span> Update</a>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit offer</h4>
                </div>
                <form name="Offer" role="form" ng-submit="submit()" novalidate>
                    <div class="modal-body" ng-include="'/html/offerservice_stripped.html'" style="width:100%;">

                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="saveUpdate(offer)">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</div>


