<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <title>Title</title>
</head>
<body ng-app="jetbrains" ng-controller="CreateOfferCtrl as app">

    <div class="container">
        <h2>Please enter your time of availability and location to offer a service</h2>
        <form name="Offer" role="form" ng-submit="submit()" novalidate>

            <!--###############################################
                ########FORM INPUT FOR timefrarme ############
                ###############################################
                -->
            <div class="form-group">
                <label for="timeframe">Timeframe</label>
                <input ng-model="offer.timeframe"
                       type="datetime-local"
                       class="form-control"
                       id="timeframe"
                       name="timeframe"
                       required>
            </div>
            <div ng-if="interacted(Offer.timeframe)" ng-messages="Offer.timeframe.$error" role="alert">
                <div class="alert alert-danger" ng-message="required">Please select the time of your offered services</div>
            </div>



            <!--###############################################
                ########FORM INPUT FOR typeofcare #############
                ###############################################
                -->
            <div class="form-group" >
                <label for="typeofcare">Amount of care:</label>
                <select ng-model="offer.typeofcare"
                        ng-options="typeofcare for typeofcare in typeofcares"
                        type="text"
                        class="form-control"
                        id="typeofcare"
                        name="typeofcare"
                        placeholder="Enter type of care"
                        required
                         >
                </select>
                <div ng-if="interacted(Offer.typeofcare)" ng-messages="Offer.typeofcare.$error" role="alert">
                    <div class="alert alert-danger" ng-message="required">Please select your offered type of service.</div>
                </div>
            </div>



            <!--###############################################
                ########FORM INPUT FOR wageperhour ############
                ###############################################
                -->
            <div class="form-group">
                <label for="wage">Wage per hour in €/h</label>
                <input ng-model="offer.wageperhour"
                       type="number"
                       class="form-control"
                       id="wage"
                       name="wageperhour"
                       range
                       placeholder="Enter wage per hour"
                       ng-minlength="1"
                       ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                       step="0.01"
                       required />
                <div ng-if="interacted(Offer.wageperhour)" ng-messages="Offer.wageperhour.$error" role="alert">
                    <div class="alert alert-danger" ng-message="required">
                        Please enter your wage per hour.
                    </div>
                    <div class="alert alert-danger" ng-message="minlength">
                        Not a valid wage! Please enter at least one digit as wage.
                    </div>
                    <div class="alert alert-danger" ng-message="pattern">
                        Not a valid wage! Please use a positive value with a maximum of two decimals.
                    </div>
                    <div class="alert alert-danger" ng-message="range">
                        Not a valid wage! Please enter your wage in range between 0 and 100.
                    </div>
                </div>
            </div>



            <!--#################################################
                ########FORM INPUT FOR supportedarea ############
                #################################################
                -->
            <div class="form-group">
                <label for="googlemaps">Supported area</label>
                <input ng-model="offer.supportedarea"
                       name="supportedarea"
                       type="text"
                       class="form-control"
                       id="googlemaps"
                       placeholder="Enter supported area"
                       ng-minlength="3"
                       required />
                <div ng-if="interacted(Offer.supportedarea)" ng-messages="Offer.supportedarea.$error" role="alert">
                    <div class="alert alert-danger" ng-message="required">Please enter a value for this field.</div>
                    <div class="alert alert-danger" ng-message="minlength">This field can be at most 15 characters long.</div>
                </div>
            </div>



            <!--###############################################
                ########FORM INPUT FOR notes ##################
                ###############################################
                -->
            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea ng-model="offer.notes" class="form-control" rows="5" id="notes" placeholder="Enter notes"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Offer Service</button>
            <div role="alert">
                <div class="alert alert-success" ng-show="offer.$valid">
                    Updated succesfully.
                </div>
            </div>
        </form>

        <p>{{offer | json }} </p>
    </div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="offerservice.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>


</body>
</html>