
<!--###############################################
    ########FORM INPUT FOR timefrarme ############
    ###############################################
    -->

<div class="row">
    <div class="form-group col-xs-6">
        <label for="timeframe">Start</label>
        <input ng-model="offer.starttime"
               type="datetime-local"
               class="form-control"
               id="timeframe"
               name="timeframe"
               required>
        <div ng-if="interacted(Offer.timeframe)" ng-messages="Offer.timeframe.$error" role="alert">
            <div class="alert alert-danger" ng-message="required">Please select the time of your offered services</div>
        </div>
    </div>
    <div class="form-group col-xs-6">
        <label for="enddate">Until</label>
        <input ng-model="offer.endtime"
               type="date"
               class="form-control"
               id="enddate"
               name="enddate"
               required>
        <div ng-if="interacted(Offer.enddate)" ng-messages="Offer.enddate.$error" role="alert">
            <div class="alert alert-danger" ng-message="required">Please select the time of your offered services</div>
        </div>
    </div>


</div>
<!--<div class="form-group">-->
<!--<label for="timeframe">Start</label>-->
<!--<input ng-model="offer.timeframe"-->
<!--type="datetime-local"-->
<!--class="form-control"-->
<!--id="timeframe"-->
<!--name="timeframe"-->
<!--required>-->
<!--</div>-->
<!--<div ng-if="interacted(Offer.timeframe)" ng-messages="Offer.timeframe.$error" role="alert">-->
<!--<div class="alert alert-danger" ng-message="required">Please select the time of your offered services</div>-->
<!--</div>-->

<!-- Advanced Time Options -->
<div class="well form-group">
    <div class="row" style="margin-bottom:0px;">
        <div class=" form-group" id="weekdays" >
            <label class="col-md-2 control-label">Day(s) of Week</label>
            <div class="checkbox" >
                <label class="checkbox-inline" name="weekdays" ng-repeat="offer.repeatoptions.weekday in offer.repeatoptions.weekdays">
                    <input type="checkbox" value="">{{ offer.repeatoptions.weekday }}
                </label>
            </div>
        </div>
        <div class="form-group" id="frequencies" >
            <label class="col-md-2 control-label">Frequency</label>
            <div class="checkbox" >
                <label class="checkbox-inline" name="frequency">
                    <input type="checkbox" value="">{{ offer.offer.repeatoptions.frequency }}
                </label>
            </div>
        </div>
    </div>
</div>


<!--###############################################
    ########FORM INPUT FOR typeofcare #############
    ###############################################
    -->
<div class="form-group" >
    <label for="typeofcare">Amount of care:</label>
    <select ng-model="offer.typeofcare"
            ng-options="typeofcare for typeofcare in typeofcares"
            type="text"
            class="form-control"
            id="typeofcare"
            name="typeofcare"
            placeholder="Basic"
            required
    >
        <option ng-show="true" value="">- Please Choose -</option>
    </select>
    <div ng-if="interacted(Offer.typeofcare)" ng-messages="Offer.typeofcare.$error" role="alert">
        <div class="alert alert-danger" ng-message="required">Please select your offered type of service.</div>
    </div>
</div>



<!--###############################################
    ########FORM INPUT FOR wageperhour ############
    ###############################################
    -->
<div class="form-group">
    <label for="wage">Wage per hour in €/h</label>
    <div class="input-group">
        <input ng-model="offer.wageperhour"
               type="number"
               class="form-control"
               id="wage"
               name="wageperhour"
               range
               placeholder="Enter wage per hour"
               ng-minlength="1"
               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
               step="0.01"
               required />
        <span class="input-group-addon">&euro; / h</span>
    </div>
    <div ng-if="interacted(Offer.wageperhour)" ng-messages="Offer.wageperhour.$error" role="alert">
        <div class="alert alert-danger" ng-message="required">
            Please enter your wage per hour as positive numeric value with maximum of two decimals.
        </div>
        <div class="alert alert-danger" ng-message="minlength">
            Not a valid wage! Please enter at least one digit as wage.
        </div>
        <div class="alert alert-danger" ng-message="pattern">
            Not a valid wage! Please use a positive numeric value with a maximum of two decimals.
        </div>
        <div class="alert alert-danger" ng-message="range">
            Not a valid wage! Please enter your wage in range between 0 and 100.
        </div>
    </div>
</div>



<!--#################################################
    ########FORM INPUT FOR supportedarea ############
    #################################################
    -->
<!--<div class="form-group">-->
<!--<label for="googlemaps">Supported area</label>-->
<!--<input ng-model="offer.supportedarea"-->
<!--name="supportedarea"-->
<!--type="text"-->
<!--class="form-control"-->
<!--id="googlemaps"-->
<!--placeholder="Enter supported area"-->
<!--ng-minlength="3"-->
<!--required />-->
<!--<div ng-if="interacted(Offer.supportedarea)" ng-messages="Offer.supportedarea.$error" role="alert">-->
<!--<div class="alert alert-danger" ng-message="required">Please enter a value for this field.</div>-->
<!--<div class="alert alert-danger" ng-message="minlength">This field can be at most 15 characters long.</div>-->
<!--</div>-->


<div class ="row">
    <div class="form-group col-xs-6">
        <label for="searchbox">Supported area</label>
        <div id="searchBoxParent">
            <!--<input type="text" class="form-control" id="searchbox" placeholder="Enter supported area">-->
        </div>
        <!--<div ng-if="interacted(Offer.supportedarea)" ng-messages="Offer.supportedarea.$error" role="alert">-->
        <!--<div class="alert alert-danger" ng-message="required">Please enter a value for this field.</div>-->
        <!--<div class="alert alert-danger" ng-message="minlength">This field can be at most 15 characters long.</div>-->
        <!--</div>-->
    </div>
    <div class="form-group col-xs-6" >
        <label for="radius">Radius</label>
        <input type="number" required ng-pattern="/^[0-9]+$/" rangemaps ng-model="offer.radius" type="number" name="radius" class="form-control" id="radius" onkeydown="if (event.keyCode == 13) {event.preventDefault(); event.stopPropagation();}">
        <div  ng-if="interacted(Offer.radius)" ng-messages="Offer.radius.$error" role="alert">
            <div class="alert alert-danger" ng-message="required">Please enter a value for this field.</div>
            <div class="alert alert-danger" ng-message="pattern">
                Not a valid radius! Please use a positive numeric value with a maximum of two decimals.
            </div>
            <div class="alert alert-danger" ng-message="rangemaps">
                Not a valid radius! Please choose a radius higher than 100m.
            </div>
        </div>
    </div>
</div>
<!-- TODO Einheit! -->
<div class="form-group div-wrapper" data-tap-disabled="true">

    <ui-gmap-google-map id="gmap" center='map.center' zoom='map.zoom' events="map.events" options="map.options">
        <ui-gmap-search-box
                template='search.template'
                events='search.events'
                position='search.position'
                parentdiv='search.parentDiv'
                ng-model="offer.text"
                options='search.options'>
        </ui-gmap-search-box>
        <ui-gmap-circle center='offer.center'
                        radius='offer.radius'
                        fill='circle.fill'
                        stroke='circle.stroke'
                        clickable='circle.clickable'
                        draggable='circle.draggable'

                        editable='circle.editable'
                        visible='circle.visible'
                        events='circle.events'
                        control="circle.control">

        </ui-gmap-circle>
    </ui-gmap-google-map>

</div>



<!--###############################################
    ########FORM INPUT FOR notes ##################
    ###############################################
    -->
<div class="form-group">
    <label for="notes">Notes (max. 400 chars)</label>
                <textarea ng-model="offer.offer.notes"
                          class="form-control"
                          name="notes"
                          rows="5"
                          id="notes"
                          ng-maxlength="400";
                          placeholder="Enter your additional notes regarding your offer"></textarea>
    <div ng-if="interacted(Offer.offer.notes)" ng-messages="Offer.notes.$error" role="alert">
        <div class="alert alert-danger" ng-message="maxlength">Please explain your offer in less than 400 characters.</div>
    </div>
</div>




<!--###############################################
   ########SUBMIT BUTTON ##################
   ###############################################
   -->
</form>


<p>{{offer | json }} </p>
<p>{{search |json}}</p>
<p>{{circle | json }} </p>
</div>
<!--
<script src="/bower_components/angular/angular.js"></script>
<script src="/html/offerservice.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>

<script src="/bower_components/lodash/dist/lodash.min.js"></script>
<script src="/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
<script src="/bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCLOfEshWapwoqrg5qMVjhpG1DB75lvjTE"
        async defer></script>-->
