<div class="container" ng-controller="RateCtrl as app">
    <form name="Rating" role="form" ng-submit="app.saveRating()" novalidate>
        <h2>Rating</h2>
        <pre>{{app}}</pre>
        <div class="row">
            <div class="form-group col-sm-12">
                <label>Overall Satisfaction
                    <input-stars max="5" ng-model="app.overallSatisfaction"></input-stars>
                    <!-- <input-stars max="5" icon-base="fa fa-fw" icon-empty="fa-circle-o" icon-hover="hover" icon-full="fa-circle" ng-model="YourCtrl.property"></input-stars> -->
                    <!-- MODIFY THESE ATTRIBUTES TO CHANGE THE DESIGN -->
                </label>
                <label>Friendliness
                    <input-stars ng-model="app.Friendliness" max="5"></input-stars>
                </label>
                <label>Competence
                    <input-stars ng-model="app.Competence" max="5"></input-stars>
                </label>
                <label>Punctuality
                    <input-stars ng-model="app.Punctuality" max="5"></input-stars>
                </label>
            </div>
        </div>


        <!--###############################################
            ########FORM INPUT FOR notes ##################
            ###############################################
            -->
        <div class="form-group">
            <label for="otherRemarks">Other remarks (max. 2000 chars)</label>
                <textarea ng-model="app.otherRemarks"
                          class="form-control"
                          name="otherRemarks"
                          rows="5"
                          id="otherRemarks"
                          ng-maxlength="2000"
                          placeholder="Please enter some information, which will then be published online"></textarea>

        </div>

        <!--###############################################
            ########FORM INPUT FOR notes ##################
            ###############################################
            -->
        <div class="form-group">
            <label for="personalFeedback">Personal Feedback (max. 2000 chars)</label>
                <textarea ng-model="app.personalFeedback"
                          class="form-control"
                          name="notes"
                          rows="5"
                          id="personalFeedback"
                          ng-maxlength="2000"
                          placeholder="Please enter a message for the caregiver, which only he/she shall read"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Rate
        </button>

    </form>
</div>