<div class="mswork">
    <!--<div class="bgmswork">-->
    <!--<div class="msheadercontent container">-->
    <!--What We Do-->
    <!--</div>-->
    <!--</div>-->
</div>
<div class="container  mshome whitebg" ng-controller="RateCtrl as app">
    <form name="Rating" role="form" ng-submit="app.saveRating()" novalidate>
        <h1>My Rating for {{booking.caregiver.firstName}} {{booking.caregiver.lastName}}</h1>
        <h2>Rate your caregiver.</h2>
        <hr class="colorgraph">
        <div>
            <div class="row bookingitem">
                <div class="col-md-3 col-sm-2 image">
                    <img src="../images/caregiver5.jpg" class="img-rounded img-responsive"  >
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-group">
                                <li class="list-group-item" >
                                    <img src="../images/icons/date.png" title="Date" title="Calendar" width="24">
                                    <b>Start: </b>
                                    {{booking.booking.starttime | datenotime}}
                                    -
                                    <b>Time: </b>
                                    {{booking.booking.starttime | datetotime}} until {{booking.booking.endtime |  datetotime}}
                                </li>
                                <li ng-show="booking.booking.repeating == true" class="list-group-item">
                                    <img src="../images/icons/repeating.png" title="Repeating true" width="24">
                                    <b>Repeating:</b>
                                    {{booking.booking.repeatoptions.frequency}}
                                    -
                            <span ng-show="booking.booking.repeating == true"><b>Days:</b>
                            <span ng-show="val == true" ng-repeat="(key,val) in booking.booking.repeatoptions">{{key | cut:true:2}}<span ng-show="!$last"> | </span></span>
                        </span>
                                </li>
                                <li class="list-group-item">
                                    <img src="../images/icons/location.png" title="Location" width="24">
                                    <b>City: </b>{{booking.booking.location.street}}, {{booking.booking.location.postalCode}} {{booking.booking.location.city}}
                                </li>
                                <li class="list-group-item" ng-show="booking.booking.notes">
                                    <img src="../images/icons/notes.png" title="Notes" width="24">
                                    <b>Notes:</b> {{booking.booking.notes}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 status text-center">
                    <p>Status: </br>
                        <img ng-if="booking.booking.status == 1" src="https://maxcdn.icons8.com/Color/PNG/96/Ecommerce/delivery-96.png" title="Delivery" width="96">
                        <img ng-if="booking.booking.status == 2" src="https://maxcdn.icons8.com/Color/PNG/96/Finance/card_in_use-96.png" title="Card in Use" width="96">
                        <img ng-if="booking.booking.status == 3" src="https://maxcdn.icons8.com/Color/PNG/96/Very_Basic/lock-96.png" title="Lock" width="96">
                        <img ng-if="booking.booking.status == 4" src="https://maxcdn.icons8.com/Color/PNG/96/Computer_Hardware/system_report-96.png" title="System Report" width="96">
                        </br>{{booking.booking.statustext}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row well msspace">
            <div class="form-group col-sm-12">
                <label>Overall Satisfaction
                    <input-stars max="5" ng-model="app.overallSatisfaction"></input-stars>
                    <!-- <input-stars max="5" icon-base="fa fa-fw" icon-empty="fa-circle-o" icon-hover="hover" icon-full="fa-circle" ng-model="YourCtrl.property"></input-stars> -->
                    <!-- MODIFY THESE ATTRIBUTES TO CHANGE THE DESIGN -->
                </label>
                <label>Friendliness
                    <input-stars ng-model="app.Friendliness" max="5"></input-stars>
                </label>
                <label>Competence
                    <input-stars ng-model="app.Competence" max="5"></input-stars>
                </label>
                <label>Punctuality
                    <input-stars ng-model="app.Punctuality" max="5"></input-stars>
                </label>
            </div>
        </div>


        <!--###############################################
            ########FORM INPUT FOR notes ##################
            ###############################################
            -->
        <div class="form-group row msrow">
            <label for="otherRemarks">Other remarks (max. 2000 chars)</label>
                <textarea ng-model="app.otherRemarks"
                          class="form-control"
                          name="otherRemarks"
                          rows="5"
                          id="otherRemarks"
                          ng-maxlength="2000"
                          placeholder="Please enter some information, which will then be published online"></textarea>

        </div>

        <!--###############################################
            ########FORM INPUT FOR notes ##################
            ###############################################
            -->
        <div class="form-group row msrow">
            <label for="personalFeedback">Personal Feedback (max. 2000 chars)</label>
                <textarea ng-model="app.personalFeedback"
                          class="form-control"
                          name="notes"
                          rows="5"
                          id="personalFeedback"
                          ng-maxlength="2000"
                          placeholder="Please enter a message for the caregiver, which only he/she shall read"></textarea>
        </div>
        <hr class="colorgraph">
        <button type="submit" class="btn btn-round-lg btn-success">Rate
        </button>
        <hr class="colorgraph">
    </form>
</div>