<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="jetbrains" ng-controller="AppCtrl as app">
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <div class="alert alert-danger"></div>

        <div class="form-group">
            <label>Type</label>
            <!--<input type="text" class="form-control" ng-model="app.type" required>-->
            <select ng-model="app.type" ng-options="caregiver careseeker" type="text" class="form-control">
                <option value="1">Caregiver</option>
                <option value="2">Careseeker</option>
            </select>
        </div>

        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="First Name" ng-model="app.firstName">
        </div>

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="app.name">
        </div>

        <div class="form-group">
            <label>Street</label>
            <input type="text" class="form-control" placeholder="Street" ng-model="app.street">
        </div>

        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" ng-model="app.city">
        </div>

        <div class="form-group">
            <label>Postal Code</label>
            <input type="text" class="form-control" ng-model="app.postalCode">
        </div>

        <div class="form-group">
            <label>Country</label>
            <input type="text" class="form-control" ng-model="app.country">
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" ng-model="app.phone">
        </div>

        <div class="form-group">
            <label>Gender</label>
            <input type="text" class="form-control" ng-model="app.gender">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" ng-model="app.email">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="app.pwd">
        </div>

        <button ng-click="app.saveUser(app.type, app.firstName, app.name, app.street, app.city, app.postalCode, app.country, app.phone, app.gender, app.email, app.pwd)" class="btn btn-warning btn-lg">Signup</button>
        <p>{{app|json}}</p>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

</div>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../app.js"></script>
</body>
</html>
