<link rel="stylesheet" href="../css/offerservice.css">
<div class="container whitebg" ng-controller="SearchCtrl as app">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h2>{{results[0].user.firstname}} {{results[0].user.lastname}}</h2>
        </div>
    </div>
    <hr class="colorgraph">
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <img id="caregiverimg" src="../images/clint.jpg" class="img-rounded img-responsive">
        </div>
        <div class="col-md-8 col-sm-12">
            <p>Name: {{results[0].user.firstname}} {{results[0].user.lastname}} </br>
                Type of care: {{results[0].offer.typeofcare}}</br>
                Location: {{results[0].offer.location.name}}</br>
            </p>
        </div>
        <div class="col-md-2 col-sm-9">
            <a href="/#/createRequest/{{results[0].offer._id}}" class="btn btn-primary btn-success" style="min-width:80%;margin-top:10px;"><span
                    class="glyphicon glyphicon-ok"></span> Book</a>
            <a onclick="alert('I\'m sorry Dave, I\'m afraid I can\'t do that.')" class="btn btn-primary btn-info" style="min-width:80%;margin-top:10px;">
                <span class="glyphicon glyphicon-star-empty"></span> Rate</a>

        </div>
    </div>


    <div class="row">
        <div class="col-md-offset-2 col-md-10 well">
            {{results[0].offer.notes}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-10 well">
            <div class="form-group div-wrapper" data-tap-disabled="true">
                <ui-gmap-google-map id="gmap" center='map.center' zoom='map.zoom' options="map.options">

                    <ui-gmap-circle center='circle.center'
                                    radius='circle.radius'
                                    fill='circle.fill'
                                    stroke='circle.stroke'
                                    clickable='false'
                                    draggable='false'
                                    editable='false'
                                    visible='true'
                                    control="circle.control">

                    </ui-gmap-circle>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10 well staroverall">
            <table style="width:50%">
                <tr>
                    <td>Overall Satisfaction</td>
                    <td>
                        <span ng-if="overallSatisfaction == null">
                        No rating available.
                            </span>
                        <span ng-if="overallSatisfaction >= 0 && overallSatisfaction < 0.5">
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="overallSatisfaction >= 0.5 && overallSatisfaction < 1.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="overallSatisfaction >= 1.5 && overallSatisfaction < 2.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="overallSatisfaction >= 2.5 && overallSatisfaction < 3.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="overallSatisfaction >= 3.5 && overallSatisfaction < 4.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="overallSatisfaction >= 4.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Friendliness</td>
                    <td>
                        <span ng-if="Friendliness == null">
                        No rating available.
                            </span>
                        <span ng-if="Friendliness >= 0 && Friendliness < 0.5">
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Friendliness >= 0.5 && Friendliness < 1.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Friendliness >= 1.5 && Friendliness < 2.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Friendliness >= 2.5 && Friendliness < 3.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Friendliness >= 3.5 && Friendliness < 4.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Friendliness >= 4.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Competence</td>
                    <td>
                        <span ng-if="Competence == null">
                        No rating available.
                            </span>
                        <span ng-if="Competence >= 0 && Competence < 0.5">
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Competence >= 0.5 && Competence < 1.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Competence >= 1.5 && Competence < 2.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Competence >= 2.5 && Competence < 3.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Competence >= 3.5 && Competence < 4.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Competence > 4.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Punctuality</td>
                    <td>
                        <span ng-if="Punctuality == null">
                        No rating available.
                            </span>
                        <span ng-if="Punctuality >= 0 && Punctuality <= 0.5">
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Punctuality >= 0.5 && Punctuality <= 1.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Punctuality >= 1.5 && Punctuality <= 2.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Punctuality >= 2.5 && Punctuality <= 3.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Punctuality >= 3.5 && Punctuality < 4.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </span>
                        <span ng-if="Punctuality >= 4.5">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" ng-repeat="rating in ratings" style="margin-bottom: 30px;">
        <div class="col-md-2 stardetail">
            <span ng-if="rating.overallSatisfaction == null">
            No rating available.
                </span>
            <span ng-if="rating.overallSatisfaction == 0">
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
            </span>
            <span ng-if="rating.overallSatisfaction == 1">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
            </span>
            <span ng-if="rating.overallSatisfaction == 2">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
            </span>
            <span ng-if="rating.overallSatisfaction == 3">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
            </span>
            <span ng-if="rating.overallSatisfaction == 4">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
            </span>
            <span ng-if="rating.overallSatisfaction == 5">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
            </span>
        </div>
        <div class="col-md-10">
            {{rating.otherRemarks}}
        </div>
    </div>


</div>


