
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="container whitebg">
    <div class="row">
        <h2>Let's Get In Touch!</h2>
            <hr class="colorgraph">
            <p>Ready to manage your caregiving services with us?
                </br>That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>

        <br/>
        <div class="col-sm-3 text-center">
        <h3>weCare.best</h3>
        Hauptstrasse 1<br/>
        80335 München<br/>
        Telephone: +49 (0) 89 / 123 4567<br/><br/>

        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p><a href="mailto:your-email@your-domain.com">info@wecare.best</a></p>
        <br/>

        </div>
</div>
</div>
</body>
