<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<h2>Welcome to the weCare.<span style="color: #428BCA">best</span> homepage!</h2>

<!--<hr class="blueline">-->
<span style="font-weight:bold">weCare.best is an online platform which brings together people searching for care and caregivers.</span>
<div class="media">
    <div class="media-left">
        <img src="../../images/caregiver4.PNG" alt="caregiver">
    </div>
    <div class="media-body">
        <div class="media-heading">
        <br>
            <br>
            As a caregiver, weCare.best ...
        <ul>
            <li>enables you to increase your visibility online</li>
            <li>provides you with a fast booking process</li>
            <li>helps you to manage your bookings in one place</li>
        </ul>
        </div>
    </div>
</div>
<!--<hr class="blueline">-->
<div class="media">
    <div class="media-left">
        <img src="../../images/caregiver2.PNG" alt="caregiver">
    </div>
    <div class="media-body">
        <div class="media-heading">
        <br>
            <br>
            As a careseeker, weCare.best ...
        <ul>
            <li>enables you to find highly qualified caregivers that suit your needs</li>
            <li>provides you with a fast search and high usability</li>
            <li>supports you in finding a caregiver you trust</li>
        </ul>
        </div>
        </div>
    </div>
</div>

