<h3>Welcome to the weCare.best homepage!</h3>
<p>weCare.best is an online platform, which brings together people searching for care and caregivers.</p>
<hr>
As a caregiver, weCare.best ...
<ul>
    <li>enables you to increase your visibility online.</li>
    <li>provides you with a fast booking process.</li>
</ul>
<br>
As a careseeker, weCare.best ...
<ul>
    <li>enables you to find highly qualified caregivers that suit your needs.</li>
    <li>provides you with a fast search and high usability.</li>
</ul>
