<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<div class="container whitebg">
<!--<h2>Welcome to the weCare.<span style="color: #428BCA">best</span> homepage!</h2>-->

<!--&lt;!&ndash;<hr class="blueline">&ndash;&gt;
<span style="font-weight:bold">weCare.best is an online platform which brings together people searching for care and caregivers.</span>
<div class="media">
    <div class="media-left">
        <img src="../../images/caregiver4.PNG" alt="caregiver">
    </div>
    <div class="media-body">
        <div class="media-heading">
        <br>
            <br>
            As a caregiver, weCare.best ...
        <ul>
            <li>enables you to increase your visibility online</li>
            <li>provides you with a fast booking process</li>
            <li>helps you to manage your bookings in one place</li>
        </ul>
        </div>
    </div>
</div>
&lt;!&ndash;<hr class="blueline">&ndash;&gt;
<div class="media">
    <div class="media-left">
        <img src="../../images/caregiver2.PNG" alt="caregiver">
    </div>
    <div class="media-body">
        <div class="media-heading">
        <br>
            <br>
            As a careseeker, weCare.best ...
        <ul>
            <li>enables you to find highly qualified caregivers that suit your needs</li>
            <li>provides you with a fast search and high usability</li>
            <li>supports you in finding a caregiver you trust</li>
        </ul>
        </div>
        </div>
    </div>-->
        <div class="row">
            <div class="col-sm-12">
                <h2>What We Do</h2>
                <p>weCare.best is an online platform which brings together people searching for care and caregivers.</p>
                <p>Our goal is to make life easier for both care providers and care seekers. We offer a central place to organize bookings, search for custom criteria and share experiences.</p>
                <p>
                    <a id="offerbtn" style="color:#428BCA !important;font-weight:bold;" class="btn btn-default btn-lg" href="#/createRequest">Offer Your Service &raquo;</a>
                </p>
            </div>

            <hr>

            <!--            <div class="col-sm-4">
                            <h2>Contact Us</h2>
                            <address>
                                <strong>Start Bootstrap</strong>
                                <br>3481 Melrose Place
                                <br>Beverly Hills, CA 90210
                                <br>
                            </address>
                            <address>
                                <abbr title="Phone">P:</abbr>(123) 456-7890
                                <br>
                                <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
                            </address>
                        </div>-->
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="../../images/caregiver1.PNG" alt="">
                <h2>Manage</h2>
                <p>weCare.best brings all your bookings together in one place and enables you to use your time efficiently.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="../../images/caregiver4.PNG" alt="">
                <h2>Find</h2>
                <p>Careseekers can use our advanced search option to quickly find their individual care and book a service.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="../../images/caregiver2.PNG" alt="">
                <h2>Trust</h2>
                <p>Profit from our sophisticated quality ensurance process and feedback from other users.</p>
            </div>
        </div>
        <!-- /.row -->
<!--    As a caregiver, weCare.best ...
    <ul>
        <li>enables you to increase your visibility online</li>
        <li>provides you with a fast booking process</li>
        <li>helps you to manage your bookings in one place</li>
    </ul>-->

     <!--       As a careseeker, weCare.best ...
            <ul>
                <li>enables you to find highly qualified caregivers that suit your needs</li>
                <li>provides you with a fast search and high usability</li>
                <li>supports you in finding a caregiver you trust</li>
            </ul>
        <hr>-->

    <!-- /.container -->

</div>


