<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="container whitebg">
<h2>My Profile</h2>
    <hr class="colorgraph">
    <div class="container col-lg-12">
        <div class="row">
            <div class="col-xs-12 toppad" >

                <div class="panel panel-info">
                    <div class="panel-heading" id="panel-heading">
                        <h3 class="panel-title">Thorsten Thorstenson</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 text-center center-block">
                                <div ng-controller="AppCtrl as app">
                                    <label>Profile picture</label><br>
                                    <div id="defaultpic">
                                        <img class="defaultimg" src="../../images/clint.jpg" class="img-rounded img-responsive">
                                    </div><br>
                                    <form ng-submit="app.updateProfile()">
                                        <input type="file" id="profilepicture"><br>
                                        <button type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                            <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                              <dl>
                                <dt>DEPARTMENT:</dt>
                                <dd>Administrator</dd>
                                <dt>HIRE DATE</dt>
                                <dd>11/12/2013</dd>
                                <dt>DATE OF BIRTH</dt>
                                   <dd>11/12/2013</dd>
                                <dt>GENDER</dt>
                                <dd>Male</dd>
                              </dl>
                            </div>-->
                            <div class="col-md-8 col-lg-8">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>First name</td>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <td>Last name</td>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>...</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <td>Home Address</td>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:info@support.com">...</a></td>
                                    </tr>
                                    <td>Phone Number</td>
                                    <td>...
                                    </td>

                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                    <div class="panel-footer">
                        <span class="pull-right">
                            <a href="#/" data-original-title="Edit profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning glyphicon glyphicon-edit"><i></i></a>
                        </span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="colorgraph">
    </div>

</body>